<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label><ion-icon name="heart"></ion-icon>Seguidores</ion-label>
      <ion-badge color="primary">10k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="thumbs-up"></ion-icon>Likes</ion-label>
      <ion-badge color="secondary">118</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="thumbs-up"></ion-icon>dislike</ion-label>
      <ion-badge color="danger">3</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="heart"></ion-icon>Viajes completados</ion-label>
      <ion-badge color="success">100</ion-badge>
    </ion-item>
   
   
  </ion-list>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
