<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="abrirMenu()">
        <ion-icon name="apps"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title color="dark">
      TeLlevoAPP
    </ion-title>
    <ion-text slot="center">

    </ion-text>

    <ion-icon name="search" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text color="info" class="ion-text-center">
    <h1>Bienvenido A TeLlevoAPP</h1>
  </ion-text>
  <ion-text color="secondary" class="ion-text-center">
    <h4>TeLlevoAPP es una aplicacion movil que permite que alumnos organicen a través de la App para que puedan retornar
      a
      sus hogares utilizando vehículos de algunos alumnos que si tienen movilización propia.
    </h4>
    
  </ion-text>
  <ion-text color="danger"><ion-icon name="warning"></ion-icon></ion-text>
    Tenga precaucion a la hora de viajar , TeLlevoAPP no se hace responsable de ningun problema en el viaje realizado
  <br>
  <br>
  <br>
  <br>

  <ion-text color="info" class="ion-text-center">
    <h4>


    </h4>

  </ion-text>
  <ion-button color="primary" expand="block" type="submit" class="ion-margin-top" href="/pag4">
    Verificar disponibilidad<ion-icon name="happy-outline"></ion-icon>
  </ion-button>
  <br>
  <br>
  <br>
  <ion-text color="info" class="ion-text-center">
    <h4>


    </h4>

  </ion-text>
  <ion-button color="primary" expand="block" type="submit" class="ion-margin-top" href="/pag5">
    Progama un viaje<ion-icon name="happy-outline"></ion-icon>
  </ion-button>


  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>